body
{
    background-color:#00ff00;
}

h1
{
color:#00ffff;
background-color:darkgreen;
}

#show_sketch
{
    float:right;
}

canvas
{
    border: 5px solid #ffffff;
    border-radius: 20px;
    animation-name: example;
    animation-duration: 6s;
    margin-top: 200px;
    animation-iteration-count: infinite;
}

@keyframes example {
    from {box-shadow: 1px 1px 38px gray;}
    to {box-shadow: 1px 1px 38px #ffffff;}
}




p
{
    padding-top: 10px;
    font-size: 25px;
}